#content { background-image: url('../img/ex01.png'); }
input { width: 32px; }
#field01 { top: 113px; left: 26%; }
#field02 { top: 113px; left: 63.2%; }
#field03 { top: 148px; left: 5.2%; }
#field04 { top: 148px; left: 55.7%; }
#field05 { top: 218px; left: 25.1%; }
#field06 { top: 269px; left: -10.9%; }
#field07 { top: 269px; left: 23.7%; }
#field08 { top: 326px; left: 10.9%; }
#field09 { top: 360px; left: 18.4%; }
#field10 { top: 435px; left: -29.8%; }
#field11 { top: 573px; left: 24.7%; }