#content { background-image: url('../img/ex04.png'); }
input { width: 32px; }
#field01 { top: 186px; left: 81.5%; }
#field02 { top: 237px; left: 18.5%; }
#field03 { top: 234px; left: 51.5%; }
#field04 { top: 315px; left: 73.3%; }
#field05 { top: 389px; left: 19.3%; }
#field06 { top: 383px; left: 57.8%; }
#field07 { top: 416px; left: 27.5%; }
#field08 { top: 578px; left: 13.2%; }
#field09 { top: 578px; left: 29.5%; }
#field10 { top: 629px; left: 9.8%; }
